.spinner-overlay {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
}

.spinner-container {
	width: 200px;
	height: 140px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	flex-direction: column;
}

.spinner-container span {
	margin-top: 15px;
}